@model List<Pill>

<div class="container mt-5">
    <h1 class="mb-3 mt-3 ">Info Page</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Pharmacy</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Pharmacy</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
