<div class="container mt-3">
    <h1 class="text-danger text-center">
        Access Denied
    </h1>
    <h2 class="text-danger text-center">
        You do not have permissions to view this page
    </h2>
</div>