<div class="container mt-3">
    <div class="alert alert-danger d-flex align-items-center" role="alert">        
        <div>
            <strong>Error!</strong> @ViewBag.ExceptionMessage
        </div>
    </div>
</div>