@model LoginViewModel

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>

            <form asp-controller="Auth" asp-action="Login" method="post">
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="mb-3">
                    <label class="form-label" asp-for="Username">Username</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3 d-flex justify-content-center text-danger">
                    @Html.ValidationMessage("error")
                </div>

                <div class="d-flex flex-wrap gap-2">
                    <button type="submit" class="btn btn-primary flex-fill">Sign In</button>
                    <a class="btn btn-outline-primary flex-fill" asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>